<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Produto</title>
</head>
<body>
    <h1>Produto</h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Produto</th>
            <th scope="col">Preco</th>
            <th scope="col">Estoque</th>
        </tr>
        </thead>
        <tbody>
                <tr>
                    <td><a href="{% url 'index' %}">{{ produto.nome  }}</a></td>
                    <td>{{ p.preco }}</td>
                    <td>{{ p.estoque }}</td>
                </tr>
        </tbody>
    </table>
    
</body>
</html>